<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Arcibaldo Demo</title>
    <link rel="stylesheet" type="text/css" href="../../build/arcibaldo.min.css">
</head>
<body>

<style>
    .bg__container {
        background: yellow;
        border: 1px solid black;
    }

    .bg__blue {
        background: dodgerblue;
    }

    .bg__green {
        background: lightgreen;
    }

    .bg__pink {
        background: hotpink;
    }

    .height_200 {
        height: 200px;
    }
</style>

<h1>Layouts</h1>
<hr>
<div class="main__container">
    <div class="fix__container">
        <h2>Basic Flex layout</h2>
        <div class="rc bg__container">
            <div class="fs_70 bg__blue">70</div>
            <div class="f_30 bg__green">30</div>
        </div>
    </div>
</div>


<hr>
Full Width
<hr>

<div class="main__container">
    <div class="fix__container">
        <h2>Nested Flex layout</h2>
        <div class="rc bg__container height_200">
            <div class="fs_70">
                <div class="rc bg__container">
                    <div class="f_55">55</div>
                    <div class="f_45">45</div>
                </div>
            </div>
            <div class="c f_20">
                <div class="cc bg__container">
                    <div class="f_40">10</div>
                    <div class="f_40">10</div>
                    <div class="f_20">10</div>
                </div>
            </div>
            <div class="c f_10">
                10
            </div>
        </div>
    </div>
</div>


<hr>
Full Width
<hr>


<div class="main__container">
    <div class="fix__container">

        <div class="f_50">
            <h2>Justify content: </h2>
            <div class="rc bg__container">
                <div class="f_33 c f_jcfs">left</div>
                <div class="f_33 c f_jcc">center</div>
                <div class="f_33 c f_jcfe">right</div>
            </div>
        </div>

    </div>
</div>


<hr>
Full Width
<hr>

</body>
</html>