.item-1 {
  color: blue;
  font-weight: 800;
  @include breakpoint(md) {
    @include breakpoint-orientation(landscape) {
      color: red;
      background: orange;
    }
    @include breakpoint-orientation(portrait) {
      color: pink;
      background: green;
    }
  }
}