/*
 * 1.0 - Layout
 */

.hide {
	display: none;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

@for $i from 1 through 100 {
	.w_#{$i} {
		width: #{$i + '%'};
	}
}

@for $i from 1 through 100 {
	.h_#{$i} {
		height: #{$i + '%'};
	}
}

.fix-container {
	width: 100%;
	max-width: $flex-fix-container-width;
}
