/*
 *  2.0 - Spacing

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left
 */

/*
 * Margins
 */

//top
.mtauto {
	margin-top: auto;
}

@for $i from 1 through 50 {
	.mt#{$i} {
		margin-top: calc(#{$base-space-value} * #{$i});
	}
}

//right
.mrauto {
	margin-right: auto;
}

@for $i from 1 through 50 {
	.mr#{$i} {
		margin-right: calc(#{$base-space-value} * #{$i});
	}
}

//bottom
.mbauto {
	margin-bottom: auto;
}

@for $i from 1 through 50 {
	.mb#{$i} {
		margin-bottom: calc(#{$base-space-value} * #{$i});
	}
}

//left
.mlauto {
	margin-left: auto;
}

@for $i from 1 through 50 {
	.ml#{$i} {
		margin-left: calc(#{$base-space-value} * #{$i});
	}
}

//horizontal
.mhauto {
	margin-right: auto;
	margin-left: auto;
}

@for $i from 1 through 50 {
	.mh#{$i} {
		margin-right: calc(#{$base-space-value} * #{$i});
		margin-left: calc(#{$base-space-value} * #{$i});
	}
}

//vertical
.mvauto {
	margin-top: auto;
	margin-bottom: auto;
}

@for $i from 1 through 50 {
	.mv#{$i} {
		margin-top: calc(#{$base-space-value} * #{$i});
		margin-bottom: calc(#{$base-space-value} * #{$i});
	}
}

//all

@for $i from 1 through 50 {
	.ma#{$i} {
		margin: calc(#{$base-space-value} * #{$i});
	}
}

/*
 * Padding
 */

//top
.ptauto {
	padding-top: auto;
}

.pt0 {
	padding-top: 0;
}

@for $i from 1 through 50 {
	.pt#{$i} {
		padding-top: calc(#{$base-space-value} * #{$i});
	}
}

//right
.prauto {
	padding-right: auto;
}

@for $i from 1 through 50 {
	.pr#{$i} {
		padding-right: calc(#{$base-space-value} * #{$i});
	}
}

//bottom
.pbauto {
	padding-bottom: auto;
}

@for $i from 1 through 50 {
	.pb#{$i} {
		padding-bottom: calc(#{$base-space-value} * #{$i});
	}
}

//left
.plauto {
	padding-left: auto;
}

@for $i from 1 through 50 {
	.pl#{$i} {
		padding-left: calc(#{$base-space-value} * #{$i});
	}
}

//horizontal
.phauto {
	padding-right: auto;
	padding-left: auto;
}

@for $i from 1 through 50 {
	.ph#{$i} {
		padding-right: calc(#{$base-space-value} * #{$i});
		padding-left: calc(#{$base-space-value} * #{$i});
	}
}

//vertical

@for $i from 1 through 50 {
	.pv#{$i} {
		padding-top: calc(#{$base-space-value} * #{$i});
		padding-bottom: calc(#{$base-space-value} * #{$i});
	}
}

//all

@for $i from 1 through 50 {
	.pa#{$i} {
		padding: calc(#{$base-space-value} * #{$i});
	}
}
