/*
 *  2.0 - Spacing
 */

/*
 * Margins
 */

.mt_auto {
	margin-top: auto;
}

.mr_auto {
	margin-right: auto;
}

.mb_auto {
	margin-bottom: auto;
}

.ml_auto {
	margin-left: auto;
}

.m-horizontal_auto {
	margin-right: auto;
	margin-left: auto;
}

.m-vertical_auto {
	margin-top: auto;
	margin-bottom: auto;
}

@for $i from 1 through 50 {
	.mt_#{$i} {
		margin-top: calc(#{$base-space-value} * #{$i});
	}

	.mr_#{$i} {
		margin-right: calc(#{$base-space-value} * #{$i});
	}

	.mb_#{$i} {
		margin-bottom: calc(#{$base-space-value} * #{$i});
	}

	.ml_#{$i} {
		margin-left: calc(#{$base-space-value} * #{$i});
	}

	.m-horizontal_#{$i} {
		margin-right: calc(#{$base-space-value} * #{$i});
		margin-left: calc(#{$base-space-value} * #{$i});
	}

	.m-vertical_#{$i} {
		margin-top: calc(#{$base-space-value} * #{$i});
		margin-bottom: calc(#{$base-space-value} * #{$i});
	}

	.m-all_#{$i} {
		margin: calc(#{$base-space-value} * #{$i});
	}
}

/*
 * Padding
 */

.pt_auto {
	padding-top: auto;
}

.pr_auto {
	padding-right: auto;
}

.pb_auto {
	padding-bottom: auto;
}

.pl_auto {
	padding-left: auto;
}

.p-horizontal_auto {
	padding-right: auto;
	padding-left: auto;
}

.p-vertical_auto {
	padding-top: auto;
	padding-bottom: auto;
}

@for $i from 1 through 50 {
	.pt_#{$i} {
		padding-top: calc(#{$base-space-value} * #{$i});
	}

	.pr_#{$i} {
		padding-right: calc(#{$base-space-value} * #{$i});
	}

	.pb_#{$i} {
		padding-bottom: calc(#{$base-space-value} * #{$i});
	}

	.pl_#{$i} {
		padding-left: calc(#{$base-space-value} * #{$i});
	}

	.p-horizontal_#{$i} {
		padding-right: calc(#{$base-space-value} * #{$i});
		padding-left: calc(#{$base-space-value} * #{$i});
	}

	.p-vertical_#{$i} {
		padding-top: calc(#{$base-space-value} * #{$i});
		padding-bottom: calc(#{$base-space-value} * #{$i});
	}

	.p-all_#{$i} {
		padding: calc(#{$base-space-value} * #{$i});
	}
}
