/*
 * 1.0 - Breakpoints
 * @include for-small-device-only { background: purple; }
 * Medium [md]: 1250- 1251+
 * Small [sm]: 768- 769+
 * Extra Small [xs]: 500-
 */

$breakpoints: (
  xs: (only:500px),
  sm: (only: 768px, up: 769px),
  md: (only: 1250px, up: 1251px)
);



/* *** Mixin *** */
/*****************/

@mixin xs-only {
  @media (max-width: map-deep-get($breakpoints, xs, only)) {
    @content;
  }
}

@mixin sm-only {
  @media (max-width: map-deep-get($breakpoints, sm, only)) {
    @content;
  }
}

@mixin sm-up {
  @media (min-width: map-deep-get($breakpoints, sm, up)) {
    @content
  }
}

@mixin md-only {
  @media (max-width: map-deep-get($breakpoints, md, only)) {
    @content;
  }
}

@mixin md-up {
  @media (min-width: map-deep-get($breakpoints, md, up)) {
    @content;
  }
}

/* LANDSCAPE QUERIES  */

@mixin xs-only-landscape {
  @media (max-width: 500px) and (orientation: landscape) {
    @content;
  }
}

@mixin sm-only-landscape {
  @media (max-width: 768px) and (orientation: landscape) {
    @content;
  }
}

@mixin md-only-landscape {
  @media (max-width: 1250px) and (orientation: landscape) {
    @content;
  }
}

/* Custom Mixins */

@mixin sm-custom-440 {
  @media (max-width: 440px) {
    @content
  }
}

@mixin md-custom-800 {
  @media (max-width: 800px) {
    @content
  }
}

@mixin md-custom-875 {
  @media (max-width: 875px) {
    @content
  }
}

@mixin md-custom-1030 {
  @media (max-width: 1030px) {
    @content
  }
}

@mixin lg-custom-1400 {
  @media (max-width: 1400px) {
    @content
  }
}
