/*
 * 1.1 - Layout Flexbox
 */

// Direction

.container, .c, %c {
  display: flex;
}

.row__container, .rc {
  @extend %c;
  flex-direction: row;
}

.col__container, .cc {
  @extend %c;
  flex-direction: column;
}

.col__container_reverse, .cc_r {
  @extend %c;
  flex-direction: column-reverse;
}

.row__container_reverse, .rc_r {
  @extend %c;
  flex-direction: row-reverse;
}

// Items

.flex_jis, .f_jis {
  justify-items: flex-start;
}

.flex_jic, .f_jic {
  justify-items: center;
}

.flex_jie, .f_jie {
  justify-items: flex-end;;
}

.flex_ais, .f_ais {
  align-items: flex-start;
}

.flex_aic, .f_aic {
  align-items: center;
}

.flex_aie, .f_aie {
  align-items: flex-end;
}

// Content

.flex_jcs, .f_jcs {
  justify-content: flex-start;
}

.flex_jcc, .f_jcc {
  justify-content: center;
}

.flex_jce, .f_jce {
  justify-content: flex-end;;
}

.flex_jcsb, .f_jcsb {
  justify-content: space-between;
}

.flex_jcsa, .f_jcsa {
  justify-content: space-around;
}

.flex_acs, .f_acs {
  align-content: flex-start;
}

.flex_acc, .f_acc {
  align-content: center;
}

.flex_ace, .f_ace {
  align-content: flex-end;
}

.flex_jcsb, .f_jcsb {
  align-content: space-between;
}

.flex_acsa, .f_acsa {
  align-content: space-around;
}

// Self

.flex_jss, .f_jss {
  justify-self: flex-start;
}

.flex_jsc, .f_jsc {
  justify-self: center;
}

.flex_jse, .f_jse {
  justify-self: flex-end;
}

.flex_ass, .f_ass {
  align-self: flex-start;
}

.flex_asc, .f_asc {
  align-self: center;
}

.flex_ase, .f_ase {
  align-self: flex-end;
}

// Wrap

.f_wrap {
  flex-wrap: wrap;
}

.f_nowrap {
  flex-wrap: nowrap;
}

.f_wrap-reverse {
  flex-wrap: wrap-reverse;
}

// Flex: This is a shorthand property that sets flex-grow, flex-shrink, and flex-basis.
// @flex-grow: Defines the flex-grow of the flex item. See <number> for more details. Negative values are considered invalid. Defaults to 1 when omitted.
// @flex-shrink: Defines the flex-shrink of the flex item. See <number> for more details. Negative values are considered invalid. Defaults to 1 when omitted.
// @flex-basis: Defines the flex-basis of the flex item. Any value valid for width and height properties are accepted. A preferred size of 0 must have a unit to avoid being interpreted as a flexibility. Defaults to 0 when omitted.
// @none: This keyword computes to 0 0 auto.

.f_auto {
  flex: 1 0 auto;
}

@for $i from 1 through 100 {
  .f_#{$i} {
    flex: 1 0 #{$i + '%'};
  }
}

.fs_auto {
  flex: 1 1 auto;
}

@for $i from 1 through 100 {
  .fs_#{$i} {
    flex: 1 1 #{$i + '%'};
  }
}

// Layout containers

.main__container {
  @extend %c;
  justify-content: center;
}

.fix__container {
  width: 100%;
  max-width: 1260px;
}
