/*
 * 1.0 - Layout
 */

.hide {
  display: none !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@for $i from 1 through 100 {
  .w_#{$i} {
    width: #{$i + '%'};
  }
}

@for $i from 1 through 100 {
  .h_#{$i} {
    height: #{$i + '%'};
  }
}

@import "layout-flexbox";
