$base-space-value: 2px;
$breakpoints: (
	sm: (start:0, end: 499px),
	md: (start: 500px, end: 769px)
);
$button-flat: (
	border-radius: 2px,
	font-size: 13px,
	font-weight: 500,
	height: 24px,
	line-height: 0.8,
	min-width: 80px,
	padding: 0 14px,
	text-transform: uppercase,
);
$button-raised: (
	border-radius: 4px,
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25),
	font-size: 13px,
	font-weight: 500,
	height: 32px,
	line-height: 0.8,
	min-width: 80px,
	padding: 0 14px,
	text-transform: uppercase,
);
$color-palettes: (
	white: (
		base: #fefefe,
		dark: #e1e1e1
	),
	gray: (
		light: #b3b3b3,
		base: #666,
		dark: #8a8a8a
	),
	black:(
		light: #4a4a4a,
		base: #333,
		dark: #0a0a0a
	),
	aqua: (
		light: #c0f5f5,
		base: #00d9d5,
		dark: #00bcb9,
	),
	blue:(
		light: #4a90e2,
		base: #006fff,
		dark: #0056c7,
	),
	yellow: (
		base: #ffb103,
		dark: #e49500
	),
	green: (
		base: #18de99,
		dark: #00c17c
	),
	red: (
		base: #fd3f6b,
		dark: #e32e53
	)
);
$flex-fix-container-width: 1260px;
$typography-title: (
	primary: (
		lg: (
			font-size: 2.8em,
			line-height: 1,
			font-weight: 500
		),
		sm: (
			font-size: 2.4em,
			line-height: 0.9,
			font-weight: 500
		)
	),
	secondary: (
		lg: (
			font-size: 2em,
			line-height: 1,
			font-weight: 500
		),
		sm: (
			font-size: 1.6em,
			line-height: 0.9,
			font-weight: 500
		)
	),
	tertiary: (
		lg: (
			font-size: 1.6em,
			line-height: 0.9,
			font-weight: 500
		),
		sm: (
			font-size: 1.2em,
			line-height: 0.9,
			font-weight: 500
		)
	)
);
$typography-subtitle: (
	primary: (
		lg: (
			font-size: 1.6em,
			line-height: 1,
			margin-top: 8px,
			font-weight: 300
		),
		sm: (
			font-size: 1.4em,
			line-height: 1,
			margin-top: 8px,
			font-weight: 300,
		)
	),
	secondary: (
		lg: (
			font-size: 1.4em,
			line-height: 1,
			font-weight: 300,
			margin-top: 8px
		),
		sm: (
			font-size: 1.2em,
			line-height: 1,
			margin-top: 8px,
			font-weight: 300,
		)
	),
	tertiary: (
		lg: (
			font-size: 1.2em,
			line-height: 1,
			font-weight: 300,
			margin-top: 8px
		),
		sm: (
			font-size: 1em,
			line-height: 1,
			margin-top: 8px,
			font-weight: 300,
		)
	)
);
$typography-text: (
	primary: (
		lg: (
			font-size: 1.2em,
			line-height: 1.4,
			font-weight: 400
		),
		sm: (
			font-size: 1em,
			line-height: 1.2,
			font-weight: 400
		)
	),
	secondary: (
		lg: (
			font-size: 1em,
			line-height: 1.2,
			font-weight: 400
		),
		sm: (
			font-size: 0.8em,
			line-height: 1,
			font-weight: 400
		),
	),
	tertiary: (
		lg: (
			font-size: 0.8em,
			line-height: 1,
			font-weight: 400
		),
		sm: (
			font-size: 0.6em,
			line-height: 0.9,
			font-weight: 400
		),
	)
);